body{
    margin:0px
}
div#tudo{  /* Div contendo toda a pagina     */  
    display:flex;
    padding: 0px;
    border: 0px; 
    
    

}



header{  
    background-color: rgb(00, 64, 94);
    width: 100%;
    color: white;
    height: 60px;
    padding:0px;
}
div#esq{   /* Div cinza da esquerda so pra fazer a coluna */ 
    width:15%;
    background-color: rgb(231, 231, 231);
    height: 100vh;
    position: fixed;
    z-index: 999;
    
    

}

div#dir{   /* Div cinza da direita so pra fazer a coluna */ 
    width:15%;
    background-color: rgb(231  , 231, 231);
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 999;
    
    

}

div#meio{  /* Div do meio onde vai ter as parada  */ 
    width:70%;
    padding:0px;
    border: 0px;
    position:absolute ;
    left: 15%;
    min-height: 100vh;
    
    
    
}

.fas{
    cursor:pointer ;
}

div#conteudoTotal{  /*  DIV CONTENDO TUDO DO MEIO MENOS O fTER, PARA CONSEGUIR AJUSTA-LO  */ 
    min-height: 800px;

}

canvas{
    max-width: 90%;
    max-height: 500px;
    margin-left:40px;
}






nav#menu li {  /* Menu de navegação  */ 
        display: inline-block;          
        padding: 8px;
        font-size: 130%; 
        background-size: 200%;
        margin:10px;
        list-style: none;
        }

nav#menu li:hover{  /* menu de navegação ao passar em cima   */ 
    background-color: rgb(255, 255, 255);
    color:rgb(00, 64, 94);
}
div#log{   
    margin-left: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
}






div#cad{    /* div de cadastro    */ 
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    margin-block-start: 10rem;
    
}

  /* CONFIGURAÇÕES DAS TABELAS PARA MOSTRAR ITENS  */ 




.catTable, .catTable2{
    border: 2px solid black;
}

.tableContainer{
    display: flex;
    flex-wrap: wrap;
}
.tableContainer > *{
    flex-basis: 100%;
}
.blocorestaurante{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.restaurante{
    width:50%;
    padding-bottom: 10px;
    color:#006494
}
.indice{
    width:50%;
    text-align: end;
}
.divdesc{
    width:100%;
    height: 30px;
    padding-bottom: 5px;
}
.divmenu{
    width:100%;
    height: 20px;
}
.divmenu > p{
    height: 20px;
}
.divdesc > p{
    height: 20px;
}



.thtable{
    color:white;
    background-color: rgb(00, 64, 94);
    border: 0px solid white;
    min-width: 130px;
    height: 40px;
}



.tdT{
    color:black;
    height: 35px;
    text-align: center;
}
.tr1{
    height: 35px;
}



.tr2{
    height: 35px;
    background-color: rgb(204, 202, 202);
}


.fa-times, .fa-plus-square, .fas{
    font-size:140%;
}
.fa-times:hover, .fa-plus-square:hover {
    font-size:170%;
}




/*   INICIO DO FOOTER */
.dFooter{
    background-color: rgb(00, 64, 94);
    bottom: 0;
    position:relative;
    width: 100%;
    padding: 25px 0 25px 0;
}

/*
.fFooter{
}

.fT{
}
*/

.fLogo{
    width: 100%;
    text-align: center;
}

.fImg{
    width: 40%;
}

/**/

.fC{
    text-align: center;
}



.fColuna{
    position: relative;
    text-align: center;
    width: 49%;
    display: inline-block;
    margin: 0%;
    box-sizing: border-box;

}

.fUl{
    list-style-type: none;
    text-align: center;
    padding: 0%;
}

.fLi{
    text-align: center;
    padding: 0%;
}

/**/

.fDecA{
    color: white;
    text-decoration:none;
    font-weight: bold;
}

/**/

@media screen and (max-width:1280px){
    .fColuna{
        width: 100%;
    }
}

/* FIM DO FOOTER   */ 

.dataDados{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}
.linhaDados{
    display: flex;
    flex-direction: column;
}


/* BUSCAR   */ 
.divBusca{
    display:flex;
    background-color:#cecece;
    border:solid 1px;
    border-radius:15px;
    width: calc(32px + 25%);
    height: 40px;
    
    
    
  }
  .divBuscaLinha{
      display: flex;
      height: 60px;
      left:0px;
      justify-content: flex-end;
      align-items:center ;
  }
  .divBuscaLinha> select, .divBuscaLinha> button {
      margin-left: 2%;
      margin-right: 2%;

  }
  
  .inputBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:100%;
  }
  


                                                                      /* BOTÕES */ 
.botoes{   /* config das posições dos botões   */ 
    display: flex;
    margin-left: 0%;
}
button {  /* Config dos botão  */ 
    width: 120px;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #006494;; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    min-width: 100px;
    }
    button:hover {   /* Config dos botão  */
    background: rgb(238, 213, 213);
    transition: 0.2s;
    color:#006494 ;
    cursor:pointer ;
  
    
    }
.botaoBranco{
    margin-left: 20px ;
    margin-right: 20px;
    background-color: #cecece;
    color:black;
    border: 1px solid black;
}


html, body {
  min-height: 100vh;
  }
  body, div, form, input, select { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #666;
  }
  p{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: #666;

  }
  h1 {  /*H1  */ 
  margin: 0;
  font-weight: 400;
  margin-top: 20px;
  }
  h3 {  /*H3  */ 
  margin: 12px 0;
  color: #006494;
  }

  .meioPai{  /*DIV pai quando for usar 2 ou mais colunas no meio  */ 
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .meioFilho{ /*DIV filho quando colocar dentro de um display flex PAI  */ 
      width:44%;
      min-height: 50px;
      display:inline-block ;
      margin:1%;
      min-width: 380px;

  }

  .PaiDestaque{
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      min-height: 350px;
      max-height: 500px;
  }

  .FilhoDestaque{
      width:45%;
      min-height: 400px;
      display: inline-block;
      padding: 1.5%;
  }
  
  form {   /*Config padrão de formularios   */ 
  width: 100%;
  padding: 0px;
  }
  fieldset {   /* Para fazer o texto com linha    */ 
  border: none;
  border-top: 1px solid #006494;
  padding: 0%;
  width: 90%;
  }
  .login, .cadastro {   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
  }
  .login >div, .cadastro >div >div {
  display:block;
  
  align-items: center;
  
  }
  .login >div, .cadastro >div, label {
  width: 90%;
  
  }

  .logdiv{
    display:inline;
    
  }

  .inp{   /* Cada div vai ter sua label e seu input exclusivo, e vai ter essa classe "inp"  */ 
    margin-bottom: 20px;
    width: 100%;
    
  }
  .txtin > p, .txtin > h4{  /*Quando quiser usar várias linhas sem muito espaço, use o txtin  */ 
    display:inline-block;
}
.txtin{
    height: 40px;
}
  
  
  label {  /* Cada texto que acompanha o input ou o checkbox ou o radio   */ 
    display:inline-block ;
  padding: 0px;
  text-align: left;
  width: 150px;
  
  
  
  }
  input {   
  padding: 5px;
  vertical-align: middle;
  size: 40;
  max-width: 310px;
  
  }
  .checkbox {   /* Classe dos input checkbox */ 
  margin-bottom: 10px;
  }
  select,  .escolhaUnica {   /* escolhaUnica é a classe dos input radio   */ 
  width: calc(100% + 26px);
  padding: 5px 0;
  display:inline-block
  }
  select {
  background: transparent;
  }
  
  .escolhaUnica label {  
  padding: 0 0px 0 0;
  } 
  .radio{
    display:inline-block;
  }
  .divRadio{
      display:inline-block;

  }

  #espaco{
      min-height: 80px;
  }
  
  .checkbox input  {
  width: auto;
  margin: -2px 10px 0 0;
  }
  .checkbox a {
  color: #006494;;
  }
  .checkbox label{
      width: auto;
  }
  .checkbox a:hover {
  color: #006494;;
  }
  

  .select{
      width:220px;
  }

  .subTitulo{
      color:rgb(112, 112, 112)
  }




  .login >input, .cadastro >input {
    width: 100px; 
  }
@media screen and (max-width:1280px){      /*  RESPONSIVIDADE             */ 
    div#esq{
        visibility:hidden;
        width:0%;
    }
    div#dir{
        visibility:hidden;
        width:0%;
    }
    div#meio{
        width:100%;
        left: 0%;
    }
    div#topoDoTopo{
        width:100%;
        left: 0%;
    }
    .login >div, .cadastro >div {
  width: 60%;
  }
  
  select, .escolhaUnica {
  width: calc(60% + 16px);
  }
  .checkbox label, .radio label{
      display:block;
  }
  .radioTitle label{
      display:block;
      padding: 12px;
  }
  .labelTitulo{
    width: 100%;

  }

  .divRadio{
    display:block;
  }
  div#cad{    /* div de cadastro    */ 
    margin-left: 0;
    
}
  
  }