.blocorestaurante{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.restaurante{
    width:50%;
    padding-bottom: 10px;
    color:#006494
}
.titleRestaurante{
    text-decoration: none;
    color:#006494 ;
}
.indice{
    width:50%;
    text-align: end;
}
.divdesc{
    width:100%;
    height: 30px;
    padding-bottom: 5px;
}
.divmenu{
    width:100%;
    height: 20px;
}
.divmenu > p{
    height: 20px;
}
.divdesc > p{
    height: 20px;
}

.divBusca{
    display:flex;
    background-color:#e8f1f2;
    border:solid 1px;
    border-radius:25px;
    width: calc(32px + 25%);
    height: 40px; 
  }

  .inputBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    color:black;
    width:100%;
  }

  .tituloPag{
    padding-bottom: 20px;
  }

  .select{
    display:flex;
    background-color:#e8f1f2;
    border:solid 1px;
    border-radius: 5px;
    width: calc(32px + 25%);
    height: 40px;
    color:black;
  }
  .selectcad{
    display:flex;
    background-color:#e8f1f2;
    border:solid 1px;
    border-radius: 5px;
    width: 20%;
    margin:0;

  }
/*CONFIGS DA PAG DE DESCRICAO*/
        .imgrestaurante{  /*Imagem da pagina*/
            width: 60%;
        }
        .descricaorestaurante{  /*onde vai ficar o texto da descrição*/
            padding-top: 20px;
        }
/*CONFIGURAÇÃO BOTÕES*/

    button {  /* Config dos botão  */ 
        width: 120px;
        padding: 10px 0;
        margin: 10px auto;
        border-radius: 5px; 
        border: none;
        background: #006494;; 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        min-width: 100px;
        }
    button:hover {   /* Config dos botão  */
        background: #d1f0ff;
        transition: 0.2s;
        color:#006494 ;
        cursor:pointer ;
        }


/*PÁGINAS COM FORMULÁRIO*/
    .formulario{
        padding-top: 20px;
        display:block ;
        padding-left: 20px;
        
    }
    .formLinha{
        padding-bottom: 20px;
        display: flex;
        flex-wrap:nowrap  ;
        width: 100%;
        
    }
    
    .formLinha > label{
        width: 15%;
        display:inline-block ;
        text-align: left;
        
    }
    .formLinha > input{
        width: 80%;
        padding: 5px;
        vertical-align: middle;
        size: 40;
        max-width: 310px;
    }

    .DivselectForm{
        width: 80%;
        padding: 5px;
       
        
       
    }

/*FOOTER*/
    .dFooter{
        background-color: rgb(00, 64, 94);
        bottom: 0;
        position:absolute;
        width: 100%;
        padding: 25px 0 25px 0;
    }

/*BUSCA NAVBAR*/
    .buscaGeral{
        width: 25%;
        padding-right: 20px;
        height: 30px;
        display: flex;
        align-content: center;
        align-items: center;
        padding-top: 8px;
        
        
    }
    .inputBuscaGeral{
        background-color: #ffffff;
        border-radius: 5px;
        color: black;
        height: 95%;
        
    }
    .navP{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .navP > a{
        width: 5%;
    }



    /*DIVS DE FORMATAÇÃO DA PÁGINA*/
    div#tudo{  /* Div contendo toda a pagina     */  
        display:flex;   
    } 

    div#esq{   /* Div cinza da esquerda so pra fazer a coluna */ 
        width:15%;
        background-color: rgb(231, 231, 231);
        height: 100vh;
        position: fixed;
        z-index: 999;
    }
    
    div#dir{   /* Div cinza da direita so pra fazer a coluna */ 
        width:15%;
        background-color: rgb(231  , 231, 231);
        height: 100vh;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    div#meio{  /* Div do meio onde vai ter as parada  */ 
        width:70%;
        padding:0px;
        border: 0px;
        position:relative ;
        left: 15%;
        min-height: 100vh;
      
    }

    /*FIM DA FORMATAÇÃO*/

    .fas{   /*ÍCONES */
        cursor:pointer ;
    }

    /*DIV ONDE FICA O CONTEÚDO*/
    
div#cad{    
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    margin-block-start: 10rem;
    padding-bottom: 100px;
}
/*TAGS GERAIS*/
h1 {  /*H1  */ 
    
    font-weight: 400;
    margin-top: 20px;
    color: black;
    }

h2{
    color: black;
}

p{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    color: #666;
  }
    

/*VIEW SHOPPING*/
.blocoShopping{
    display: inline-block;
}

fieldset {   /* Para fazer o texto com linha    */ 
    border: none;
    border-top: 1px solid #006494;
    padding: 0%;
    width: 90%;
    }

/* BUSCAR   */ 

.divBuscaLinha{
    display: flex;
    height: 60px;
    left:0px;
    justify-content: flex-end;
    align-items:center ;
}
.divBuscaLinha> select, .divBuscaLinha> button {
    margin-left: 2%;
    margin-right: 2%;

}

/*CONFIG GERAL*/
body, div, form, input, select { 
    margin: 0;
        
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    }

.shoppingDivPrincipal{
    display: flex;
    flex-wrap: wrap ;


}
.blocoShopping{
    width: 100%;
}
.botoes{
    display: flex;
}



/* DROPDOWN*/

  /* Estilos para o menu dropdown */
  .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
  
  .dropdown a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown a:hover {
    background-color: #f1f1f1;
  }